<h1 style="margin-bottom: 50px;">Movies</h1>

<% @movies.each do |movie| %>
  <%= render "movies/listing", movie: movie %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Add New", new_movie_path, class: "btn" %>
<% end %>